body {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;



}

.top-form {
    background-color: cadetblue;
    color: black;
    border: 5px solid black;
    border-radius: 10px;
    max-width: 80%;
    
    
}

input {
    width: 50%;
    margin: 15px;
    
}

