* {
    box-sizing: border-box;
}

body {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;



}

.top-form {
    background-color: cadetblue;
    color: black;
    border: 5px solid black;
    border-radius: 10px;
    max-width: 80%;
    
    
}

input {
    width: 50%;
    margin: 15px;
    
}

label {
    display: inline-block;
    width: 200px;
    text-align: right;
}

button {
    display: block;
    margin: 0 auto;
    width: 300px;
    border: 2px solid rosybrown;
}

.radio {
    display: inline;
    width: auto;
}
